@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
    font-family: 'Oxygen', sans-serif;
}

.AppBackground {
    width: 250px;
    margin-inline: auto;
    background-color: pink;
    padding: 1rem;
    margin-top: 5%;
    border-radius: .5rem;
}

.Header {
    margin-top: -.5rem;
    color: green;
}

.BodyWrapper {
    margin-top: -1rem;
}

.TaskCount {
    color: blue;
}

.TaskFormHeader {
    color: orange;
}

form {
    width: 100%;
}

input {
    border-style: none;
    padding: 4px;
}
input:focus {
    outline: none;
}

.FormTitle {
    justify-content: center;
    height: 100%;
}

.ListTitle {
    width: 100%;
    background-color: magenta;
    align-items: center;
}

button {
    border: none;
}

.NewTaskInputs {
    display: flex;
    flex-direction: column;
}

.TaskSubmitButton {
    width: 100%;
    margin-top: .2rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 20px;
}

.ListLeft {
    margin-left: 0;
    margin-right: auto;
    align-items: center;
}

.ListRight {
    margin-left: auto;
    margin-right: 0;
    align-items: center;
}

.Delete {
    height: 20px;
    width: 40px;
    background-color: red;
    color: white;
    font-weight: bold;
}
